<h1 style="color:white">Posts</h1>
<div class="container d-flex justify-content-center flex-wrap">
    {{#if posts.length}}
        <ul>
            {{#each posts}}
                <div class="col-md-4 mb-4">
                    <div class="card h-100" style="background-color: rgba(255,255,255,0.13); width: 600px;">
                        <div class="card-body">
                            <h5 class="card-title" style="color: white;"><strong>{{this.authorusername}}</strong></h5>
                            {{#if songname}}
                                <p class="card-text" style="color: white;">
                                    <strong>Song:</strong> {{this.songname}} <br>
                                    <strong>Artist:</strong> {{this.songartist}} <br>
                                    <a href="{{this.songlink}}">Listen Here</a> <br>
                                </p>
                            {{/if}}
                            {{#if playlistname}}
                                <p class="card-text" style="color: white;">
                                    <strong>Playlist Name:</strong> {{this.playlistname}} <br>
                                </p>
                            {{/if}}
                            <p style="color: white"><strong>Likes:</strong> {{this.likes}}</p>
                            <ul>
                                {{#each this.comments}}
                                    <li style="color: white">{{this.comment}}</li>
                                {{/each}}
                            </ul>

                    <div class="card h-100 d-flex flex-column" style="background-color: rgba(255,255,255,0.13); width: 600px;">
                        
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title" style="color: white;">
                                <strong>{{this.authorusername}}</strong>
                            </h5>

                            <div class="d-flex align-items-start">
                                {{#if songimage}}
                                    <img src="{{this.songimage}}" alt="song-image" class="card-img"/>
                                {{/if}}

                                <div style="text-align: left;">
                                    {{#if songname}}
                                    <p class="card-text" style="color: white;">
                                        <strong style="font-size: 24px; margin-left: 8px">
                                            {{this.songname}}
                                        </strong>  
                                        <p style="color:white; text-align: left; margin-left: 16px; line-height: 0.8;">
                                            {{this.songartist}}
                                        </p>
                                        <a href="{{this.songlink}}" style="margin-left: 10px;">
                                            Listen Here
                                        </a> 
                                    </p>
                                    {{/if}}

                                    {{#if playlistname}}
                                        <p class="card-text" style="color: white;">
                                            <strong>Playlist Name:</strong> {{this.playlistname}} <br>
                                        </p>
                                    {{/if}}
                                </div>
                            </div>

                            <div class="d-flex justify-content-end align-items-start">
                                <p style="color: white">
                                    <strong style="text-align: right;">Likes:</strong> {{this.likes}}
                                </p>
                                <form method="POST" action="/like" style="display: inline;">
                                    <input type="hidden" name="postId" value="{{this.postId}}" />
                                    <input type="hidden" name="userId" value="{{currentUserId}}" />
                                    <button type="submit" class="like-button" style="background-color: {{#if this.liked}}green{{else}}white{{/if}}; color: {{#if this.liked}}white{{else}}black{{/if}};">
                                        button
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </ul>
    {{else}}
        <p>No posts from your followers yet.</p>
    {{/if}}
</div>